@import 'nullstyle.scss';

body.lock{
	overflow: hidden;
}
.wrapper{
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

[class*="__container"]{
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

//!-----------Header-----------------------------------------------------
.header {
	position: absolute; top: 0; left: 0;
	width: 100%;
	flex: 0 1 auto;
	padding: 23px 0px 35px 0px;
	
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo{} 

.header__icons {
	display: flex;
	gap: 10px;
}
.header__icons svg{
	width: 18px;
	height: 18px;
	fill: #fff;

	:hover{
		fill: #000;
	}
}
.header__icons a:nth-child(3) svg{
	width: 24px;
	height: 24px;
}

.header__languages{
	position: relative;

	margin-left: 10px;
	margin-top: -5px;

	display: flex;
	align-items: center;
	gap: 5px;

}
.header__languages>p a{
	
	font-size: 10px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff ;

	&:hover{
		text-decoration: underline;
		color: #000;
	}
}

.header__languages>ul {
	position: absolute; bottom: -26px; left: 0;
	display: none;
	
}
.header__languages>ul a {

	padding: 3px 0px;

	font-size: 10px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff ;

	&:hover{
		text-decoration: underline;
		color: #000;
	}
}
.header__languages>ul li:not(:first-child){
	margin-top: 4px;
}
 

.languages__arrow {
	display: block;
	width: 0px;
	height: 0px;
	border-top: 6px solid #E9E9E9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	cursor: pointer;
	transition: .5s;
	&:hover{
		border-top: 6px solid #000;
	}
}

.languages__arrow._active{
	transform: rotate(180deg);
}
.header__languages>ul._active{
	display: inline-block;
}

//!--------------Main---------------------------------------------------------------
.main {
	flex: 1 1 auto;
}

//?--------------Main top-----------------------------------------------------------
.main__face {
	background: url('../images/main/face/bg.jpg') 0 0/cover no-repeat fixed;
	padding: 174px 0px 25px 0px;
}

.face__container {
	display: grid;
	grid-template-columns: 270px 1fr;
	column-gap: 30px;
}

.face__left{
	grid-column: 1/2;
	display: grid;
	grid-template-rows: 153px;
	row-gap: 10px;
} 

.face__cart-entering {
	width: 270px;
	height: 153px;
	display: grid;
	grid-template-rows: 30px 88px 35px;
}

.face__login {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background: #F8F8F8;
	padding: 0px 60px 0px 30px;
}
.face__login a,
.face__login p{
	font-size: 12px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 0.02em;
	text-align: center;
	color: #fb4d01 ;
	text-transform: uppercase;

	&:hover{
		text-decoration: underline;
		color: #000;
	}
}
.face__login p{
	cursor: pointer;
}


.face__cart {
	display: flex;
	flex-direction: column;
	background-color: #FF4400;

}

.face__exactly-cart {
	flex: 1 1 auto;

	display: grid;
	grid-template-columns: min-content auto 43px;
	grid-template-rows: 1.7fr 1fr;
	column-gap: 14px;
	row-gap: 5px;
	align-items: center;

	padding: 0px 20px 0px 27px;
}

.face__cart-image {
	grid-column: 1/2;
	grid-row: 1/span 2;
}

.face__cart-price {
	grid-column: 2/3;
	grid-row: 1/2;
	align-self: end;

	font-size: 18px;
	font-weight: 600;
	line-height: 100%;
	letter-spacing: 0em;
	text-align: left;
	color: #fff ;
	white-space: nowrap;
}

.cart__items {
	grid-column: 2/3;
	grid-row: 2/3;
	align-self: start;

	font-size: 12px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 0px;
	text-align: left;
	color: #faef03 ;
}

.cart__items span{
	font-size: 15px;
}

.face__cart-clear {
	grid-column: 3/4;
	grid-row: 1/span 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.face__cart-clear-icon {
	position: relative;
	display: block;
	margin: 7px 0px 7px 0px;
	width: 20px;
	height: 20px;

	&::before{
		content: '';
		position: absolute; top: 50%; left: 0;
		display: block;
		width: 100%;
		height: 2px;
		background-color: #faef03;
		transform: rotate(45deg);
	}
	&::after{
		content: '';
		position: absolute; top: 50%; left: 0;
		display: block;
		width: 100%;
		height: 2px;
		background-color: #faef03;
		transform: rotate(-45deg);
	}
}

.face__cart-clear p{
	font-size: 10px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 0.07em;
	text-align: center;
	color: #333333 ;
	text-transform: uppercase;

}

.face__view-cart {
	flex: 0 1 30px;
	display: flex;
}
.face__view-cart a:nth-child(1){
	flex: 0 1 50%;
}
.face__view-cart a:nth-child(2){
	flex: 0 1 50%;
}
.face__view-cart a{
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .5s;

	&:hover{
		background-color: #2F2F2F;
	}
}
.face__view-cart a p{
	font-size: 11px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 0px;
	text-align: center;
	color: #fff ;
	text-transform: uppercase;
}

.face__search {
	display: flex;
}

.face__search form{
	flex: 1 0 auto;
}

.face__search input{
	width: 100%;
	height: 100%;
	background-color: #E9E9E9;
	padding: 0 12px;

	font-size: 12px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 0px;
	color: 0c0c0c;

}
.face__search-icon{
	flex: 0 0 35px;

	display: flex;
	align-items: center;
	justify-content: center;
	background: #2F2F2F;

	&:hover{
		background: #FFF500;
	}
} 

.face__search-icon svg{
	width: 18px;
	height: 18px;
	fill: #fff;

	&:hover{
		fill: #2F2F2F ;
	}
}


//?--------------Main medium-----------------------------------------------------------
.main__medium {
	display: grid;
	grid-template-columns: 1fr 270px minmax(auto,870px) 1fr;
	grid-template-rows: 1fr;

	padding: 0 15px;
	background-color: #F8F8F8;
}

.main__sidebar{
	position: relative;
	z-index: 5;

	grid-column: 2/3;
	grid-row: 1/2;
	margin-right: 30px;
	
} 

.main__menu,
.main__ad,
.main__category-options,
.main__brand-options {
	margin-bottom: 30px;
}

.menu-inner,
.category-options-inner,
.brand-options-inner{
	position: relative;
	display: flex;
	flex-direction: column;
}
.menu-inner ul,
.category-options-inner ul,
.brand-options-inner ul{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.menu__title,
.menu-inner a,
.category-options__title,
.category-options-inner a,
.brand-options__title,
.brand-options-inner a{
	display: flex;
	align-items: center;
	padding: 10px 25px 10px 40px;
	box-sizing: border-box;	
	text-transform: uppercase;
}
.menu__title,
.category-options__title,
.brand-options__title{
	display: flex;
	justify-content: space-between;
	color: #fff ;
	height: 65px;
}
.menu__title{
	background-color: #2F2F2F;;
}
.category-options__title,
.brand-options__title{
	background-color: #333333;
}

.menu__arrow,
.category-options__arrow,
.brand-options__arrow{
	display: none;

	border-top: 12px solid #fff;
	border-right: 9px solid transparent;
	border-left: 9px solid transparent;
	transition: .6s;
}
.menu__arrow._active,
.brand-options__arrow._active,
.category-options__arrow._active{
	transform: rotate(-180deg);
}
.menu-inner a,
.brand-options-inner a,
.category-options-inner a{
	background-color: #00D3FE;
	color: #2F2F2F;
	height: 43px;
	transition: .4s;

	&:hover{
		background-color: #2F2F2F;
		color: #fff ;
	}
}
.menu-inner p,
.brand-options-inner p,
.category-options-inner p{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: calc(32/14*100%);
	letter-spacing: 0px;
	text-align: left;
	text-transform: uppercase;
}

.main__ad {
	position: relative;
	padding-bottom: 111%;
}

.main__ad img{
	position: absolute; top: 0; left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main__ad p{
	position: absolute; right: 17px; top: 50%;
	z-index: 5;

	font-size: 36px;
	
	font-weight: 800;
	font-style: italic;
	line-height: 100%;
	letter-spacing: 0px;
	text-align: left;
	color: #333333 ;
	text-transform: uppercase;

}

.main__tags{
	background-color: #fff;
	padding: 30px;
}


.sidebar-title {
	margin-bottom: 20px;

	font-family: 'Roboto', sans-serif ;
	font-size: 24px;
	font-weight: 800;
	font-style: italic;
	line-height: 120%;
	letter-spacing: 0px;
	text-align: left;
	color: #000 ;
}

.tags__items {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;

	margin-bottom: 18px;
}

.tags__items a{
	padding: 9px 12px;
	background-color: #E9E9E9;

	white-space: nowrap;
	font-family: 'Roboto', sans-serif ;
	font-size: 12px;
	font-weight: 400;
	line-height: 120%;
	letter-spacing: 0px;
	text-align: center;
	color: #333 ;

	&:hover{
		background-color: #FEEF00;
	}
}

.tags__items .tags__big-text {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.1em;
}

.tags__view-all{
	font-family: 'Roboto', sans-serif   ;
	font-size: 14px;
	font-weight: 800;
	font-style: italic;
	line-height: 120%;
	letter-spacing: 0.2px;
	text-align: left;
	color: #000;

	&:hover{
		text-decoration: underline;
	}
} 



//----------------------------Main medium content------------------------------------
.main__middle-content {
	grid-column: 3/4;
	grid-row: 1/2;

	background-color: #F8F8F8;

	display: grid;
	grid-auto-flow: row;
	grid-auto-rows: max-content;
	row-gap: 55px;
}

//-----------------------------Page links----------------------------------------------
.main__page-links {
	display: flex;
	justify-content: space-between;
	margin: 35px 7px 50px 7px;
}
.main__page-links p,
.main__page-links a{
	font-family:  'Roboto', sans-serif ;
	font-size: 12px;
	font-weight: 400;
	white-space: nowrap;
	letter-spacing: 0em;
	color: #989898;
}
.main__page-links a{
	padding: 3px;

	&:hover{
		background-color: #FEEF00;
	}
}

.main__product-in-detail{
	display: grid;
	grid-template-columns: 1fr 1.2fr;
	gap: 40px;
} 

.product-in-detail__images{} 

.product-in-detail__big-image{
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	margin-bottom: 20px;
} 
.product-in-detail__big-image img{
	position: absolute; top: 0; left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}



.product-in-detail__slider-wrapper{
	position: relative;
	width: 100%;
	margin-top: 20px;
}
// Кнопки
.product-in-detail__slider-wrapper>img:nth-child(1){
	position: absolute; top: 50%; left: 20px;
	z-index: 10;
	transform: translateY(-50%);
	cursor: pointer;
}
.product-in-detail__slider-wrapper>img:nth-child(2){
	position: absolute; top: 50%; right: 20px;
	z-index: 10;
	transform: translateY(-50%);
	cursor: pointer;
}

.product-in-detail__slider {
	position: relative;
	// overflow: hidden;
	
	width: 72%;
	padding-bottom: 30%;
	margin: 0 auto;

	display: grid;
	grid-auto-columns: 26%;
	grid-auto-flow: column;
	gap: 11%;
	transition: .5s;
	
}

.product-in-detail__slider-item {
	position: absolute; top: 0;
	display: none;
	opacity: 0;

	width: 26%;
	padding-bottom: 40%;
	cursor: pointer;
	transition: .4s;
}
.product-in-detail__slider-item._visible{
	opacity: 1;
}

.product-in-detail__slider-item[data-sn="1"]{
	display: block;
	left: 0;
}
.product-in-detail__slider-item[data-sn="2"]{
	display: block;
	left: 37%;
}
.product-in-detail__slider-item[data-sn="3"]{
	display: block;
	left: 74%;
}

.product-in-detail__slider-item img{
	position: absolute; top: 0; left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}



.product-in-detail__options {
	padding: 5px;
	font-family: 'Roboto';
}

.product-in-detail__title {
	margin-bottom: 4px;

	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #353535;
}

.product-in-detail__rate {
	margin-bottom: 20px;
}

.product-in-detail__stars {
	display: inline-flex;
	margin-right: 5px;
	cursor: pointer;
}
.product-in-detail__stars svg{
	width: 10px;
	height: 10px;
}
.product-in-detail__stars svg:nth-last-child(1){
	fill:#B1AFA9;
}

.product-in-detail__rate-counter,
.product-in-detail__rate-counter+a {
	display: inline-block;
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	color: #353535;
}
.product-in-detail__rate-counter+a:hover{
	text-decoration: underline;
}


.product-in-detail__sale-data {}
.product-in-detail__price-and-awailability{
	position: relative;
	padding-bottom: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&::after{
		content: '';
		position: absolute; bottom: 0px; left: 50%;
		transform: translateX(-50%);
		display: block;
		height: 1px;
		width: 80%;
		background-color: #B1AFA9;
	}
}

.product-in-detail__price {
	font-size: 22px;
	line-height: 1.2;
	font-weight: 500;
	font-style: italic;
	color: #111111;
	}

.product-in-detail__awailability p{
	font-size: 12px;
	line-height: 24px;
	font-weight: 400;
	color: #666669;
}
.product-in-detail__awailability p:not(:last-child){
	margin-bottom: 3px;
}
.product-in-detail__awailability p span{
	display: inline-block;
	margin-left: 4px;
	color: #111111;
}

.product-in-detail__quick-overview {
	position: relative;
	padding: 12px 0px;
	&::after{
		content: '';
		position: absolute; bottom: 0px; left: 50%;
		transform: translateX(-50%);
		display: block;
		height: 1px;
		width: 80%;
		background-color: #DDDCD9;
	}
}
.product-in-detail__quick-overview p:nth-child(1){
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	text-transform: uppercase;
	color: #353535;
}
.product-in-detail__quick-overview p:nth-child(2){
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
	color: #707070;
}

.product-in-detail__size {
	position: relative;
	padding: 12px 0px;
	&::after{
		content: '';
		position: absolute; bottom: 0px; left: 50%;
		transform: translateX(-50%);
		display: block;
		height: 1px;
		width: 80%;
		background-color: #DDDCD9;
	}
}

.product-in-detail__size-title,
.product-in-detail__length-title {
	font-size: 12px;
	line-height: 17px;
	font-weight: 400;
	text-transform: uppercase;
	color: #333333;
}

.product-in-detail__size-items,
.product-in-detail__length-items {
	display: flex;
	flex-wrap: wrap;
}

.product-in-detail__size-item:not(:last-child),
.product-in-detail__length-item:not(:last-child) {
	margin-right: 10px;
}
.product-in-detail__size-item input,
.product-in-detail__length-item input{
	visibility: hidden;
	width: 0px;
	height: 0px;
}
.product-in-detail__size-item label,
.product-in-detail__length-item label{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 30px;
	background-color: #fff;
	cursor: pointer;
}
.product-in-detail__size-item label span,
.product-in-detail__length-item label span{
	font-size: 12px;
	line-height: 17px;
	font-weight: 600;
	color: #333333;
	text-align: center;
}
.product-in-detail__size-item input:checked+label,
.product-in-detail__length-item input:checked+label{
	border: 1px solid #B1AFA9;
	
}
.product-in-detail__size-item input:checked+label span,
.product-in-detail__length-item input:checked+label span{
	color: #ff4a4a;
}

.product-in-detail__length {
	position: relative;
	padding: 12px 0px;
	&::after{
		content: '';
		position: absolute; bottom: 0px; left: 50%;
		transform: translateX(-50%);
		display: block;
		height: 1px;
		width: 80%;
		background-color: #DDDCD9;
	}
}



.product-in-detail__add-and-quantity {
	padding: 15px 0px;
	display: flex;
	
	justify-content: space-between;
	align-items: center;
}

.product-in-detail__quantity {}

.product-in-detail__quantity-title {
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	color: #333333;
}
.product-in-detail__quantity-counter{
	margin: 0px 3px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 30px;
	background-color: #fff;
}
.product-in-detail__quantity-counter span{
	font-size: 12px;
	font-weight: 400;
	color: #9b9b9b;
}
.product-in-detail__quantity>span{
	padding: 6px;
	font-size: 17px;
	color: #000;
	cursor: pointer;
}
.product-in-detail__add-to-cart-button button {
	padding: 16px 11px;
	background-color: #fb4d01;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #ffffff;

	&:hover{
		background-color: #fb4d01;
	}
}

.product-in-detail__add-to p,
.product-in-detail__add-to a {
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	color: #353535;
	cursor: pointer;

	&:hover{
		text-decoration: underline;
	}
}

.product-in-detail__add-to-wishlist {}

.product-in-detail__add-to-compare {}

.product-in-detail__add-to-email {}


//?---------------------------------------product-more-info----------------------------------------------
.main__product-more-info {
	font-family: Roboto;
}


.product-more-info__titles ul{
	display: flex;
	margin-left: 10px;
}
.product-more-info__titles li{
	flex: 0 1 auto;
	padding: 10px 16px;
	font-size: 12px;
	line-height: 1.2;
	font-weight: 600;
	text-transform: uppercase;
	color: #333333;
	cursor: pointer;
}
.product-more-info__titles li._active{
		background-color: #26d2fc;
}

.product-more-info__items {
	position: relative;
}
.product-more-info__items>li{
	visibility: hidden;
	opacity: 0;
	position: absolute; top: 0;left: 0;
	padding: 11px;
	width: 100%;
	height: 270px;
	box-sizing: border-box;
	border: 1px solid #a7a7a7;
	overflow: auto;
}
.product-more-info__items li._active{
	visibility: visible;
	opacity: 1;
}
.product-more-info__items li p,
.product-more-info__items li ul{
	margin-bottom: 12px;
	font-size: 11px;
	line-height: 15px;
	font-weight: 400;
	color: #808080;
}
.product-more-info__items li ul{
	margin-left: 20px;
}

.product-more-info__description {}

.product-more-info__additional {}

.product-more-info__review {}

.product-more-info__tags {
	margin-bottom: 0px;
}

.product-more-info__tags-content a p {
	margin-bottom: 0px;
}

.tags__items {}

.tags__big-text {}


//?------------------------might-also-like-------------------------------------------------
//?------------------------------recently-viewed ---------------------------------
.main__might-also-like {
	margin-top: 315px;
	width: 100%;
}
.main__recently-viewed{
	width: 100%;
}

.might-also-like__top,
.recently-viewed__top {
	margin-bottom: 40px;
}

.might-also-like__title,
.recently-viewed__title  {
	font-family: Raleway;
	font-size: 30px;
	line-height: 1.2;
	font-weight: 800;
	font-style: italic;
	text-transform: uppercase;
	color: #333333;
}

.might-also-like__items,
.recently-viewed__items  {
	position: relative;
	width: 100%;
}
.might-also-like__items button,
.recently-viewed__items button{
	position: absolute;top: 50%;
	z-index: 3;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	background-color: #26d2fc;
}

.might-also-like__button-prev,
.recently-viewed__button-prev  {
	left: 0%;

	&::before{
		content: '';
		position: absolute; top: 50%;left: 15px;
		display: block;
		width: 20px;
		height: 20px;
		border-top: 1px solid #000;
		border-left: 1px solid #000;
		transform: translateY(-50%) rotate(-45deg);
	}
}

.might-also-like__button-next,
.recently-viewed__button-next {
	right: 0%;

	&::before{
		content: '';
		position: absolute; top: 50%;right: 15px;
		display: block;
		width: 20px;
		height: 20px;
		border-top: 1px solid #000;
		border-left: 1px solid #000;
		transform: translateY(-50%) rotate(135deg);
	}
}


.might-also-like__items-inner,
.recently-viewed__items-inner {
	position: relative;
	
	width: 100%;
	padding-bottom: 36.8%;

	display: grid;
	grid-auto-columns: 31%;
	grid-auto-flow: column;
	gap: 3.5%;
	transition: .5s;
}

.might-also-like-product__item,
.recently-viewed-product__item  {
	position: absolute; top: 0;
	display: none;
	opacity: 0;
	width: 31%;
	padding-bottom: 121%;
	cursor: pointer;
	transition: .5s;
}
.might-also-like-product__item._visible,
.recently-viewed-product__item._visible{
	opacity: 1;
}
.might-also-like-product__item[data-als="1"],
.might-also-like-product__item[data-als="2"],
.might-also-like-product__item[data-als="3"],
.recently-viewed-product__item[data-rec="1"],
.recently-viewed-product__item[data-rec="2"],
.recently-viewed-product__item[data-rec="3"]{
	display: block;
}
.might-also-like-product__item[data-als="1"],
.recently-viewed-product__item[data-rec="1"]{
	left: 0%;
}
.might-also-like-product__item[data-als="2"],
.recently-viewed-product__item[data-rec="2"]{
	left: 34.5%;
}
.might-also-like-product__item[data-als="3"],
.recently-viewed-product__item[data-rec="3"]{
	left: 69%;
}


.product-item {
	padding: 10px 10px 20px 10px;
	background-color: #fff;
}

.product-item__band {
	position: absolute; right: 0; top: 0;
	z-index: 3;
}

.product-item__img {
	position: relative;
	padding-bottom: 92%;
	margin-bottom: 20px;
}
.product-item__img img{
	position: absolute; top: 0; left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.product-item__info {
	display: grid;
	justify-content: space-between;
	grid-auto-flow: column;
	gap: 25px;
}

.product-item__name {
	padding-bottom: 9px;

	font-family: 'Roboto', sans-serif ;
	font-size: 14px;
	font-weight: 800;
	font-style: italic;
	line-height: calc(18/14*100%);
	letter-spacing: 0px;
	text-align: left;
	color: #333333 ;
}

.product-item__price {
	font-family:  'Roboto', sans-serif ;
	font-weight: 800;
	font-style: italic;
	white-space: nowrap;
	letter-spacing: 0px;
	text-align: right;
}

.product-item__actual-price {
	margin-bottom: 4px;
	font-size: 18px;
	color: #333333 ;
}

.product-item__old-price {
	text-decoration: line-through;
	font-size: 14px;
	color: #e24602 ;
}

//?-------------Main bottom----------------------------------------------------------------------
.main__bottom{
	background-color: #F8F8F8;
} 


//-------------Soc-squares-----------------------------------------------------------------
.main__soc-squares {}

.soc-squares__container{
	display: grid;
	grid-template-columns: repeat(3,minmax(auto,1fr));
	padding: 0;
} 
.soc-squares__item{
	
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	transition: .6s;
} 
.soc-squares__item:nth-child(1){
	background-color: #23589A;
}
.soc-squares__item:nth-child(2){
	background-color: #00CDFF;
}
.soc-squares__item:nth-child(3){
	background-color: #EC1A22;
}

.soc-squares__item:nth-child(1),
.soc-squares__item:nth-child(2),
.soc-squares__item:nth-child(3){
	&:hover{
		background-color: #2F2F2F;
	}
}
.soc-squares__item svg{
	fill: #fff;
	height: 70px;
	width: 70px;
}



//!--------------Footer---------------------------------------------------------
.footer {
	flex: 0 1 auto;
} 

.footer__top{
	padding: 70px 0px 60px 0px;
	background-color: #343434
}
.footer__top .footer__container{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(190px,1fr));
	column-gap: 47px;
	row-gap: 40px;
}
.footer__category ul, 
.footer__account ul,
.footer__support ul{
	margin-top: 23px;
}
.footer__category li:not(:last-child), 
.footer__account li:not(:last-child),
.footer__support li:not(:last-child){
	margin-bottom: 4px;
}
.footer__category a, 
.footer__account a,
.footer__support a{
	&:hover{
		text-decoration: underline;
	}
}
.footer__category a, 
.footer__account a,
.footer__support a,
.footer__newsletter p:nth-child(2),
.footer__about-us p:not(:first-child){
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: 0em;
	text-align: left;
	color: #fff ;
}
.footer__title{
	font-size: 18px;
	font-weight: 700;
	line-height: 130%;
	letter-spacing: 0px;
	text-align: left;
	color: #fff ;
} 
.footer__newsletter .footer__title{
	margin-bottom: 6px;
} 
.footer__newsletter p:nth-child(2){
	margin-bottom: 17px;
}
.footer__form {
	display: flex;
	height: 30px;
	margin-bottom: 43px;
}
.footer__form  input{
	height: 100%;
	width: 80%;
	background-color: #FFF500;
	padding-left: 5px;
	font-size: 12px;
	font-weight: 600;
	color: #343434 ;
}
.footer__form  button{
	height: 100%;
	background-color: #000000;
	padding: 0px 8px;

	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 110%;
	letter-spacing: 0px;
	text-align: center;
	color: #fff ;
	text-transform: uppercase;

	&:hover{
		background-color: #FF4400
	}
}
.footer__cards{
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	gap: 3px
} 
.footer__about-us .footer__title {
	margin-bottom: 4px;
}
.footer__about-us p:nth-child(2){
	margin-bottom: 13px;
}
.footer__phone:not(:last-child) {
	margin-bottom: 12px;
}
.footer__phone a {
	margin-left: 10px;

	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: 0em;
	text-align: left;
	color: #fff ;
	&:hover{
		text-decoration: underline;
	}
}
.footer__email a {
	margin-left: 10px;

	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: 0em;
	text-align: left;
	color: #FFF500;
}



.footer__bottom{
	background-color: #2F2F2F;
	padding: 17px 0px;
} 
.footer__bottom .footer__container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__bottom p:not(:last-child){
	margin-right: 30px;

	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: calc(17/12*100%);
	letter-spacing: 0px;
	text-align: left;
	color: #dad9d9 ;
}

.footer__icons {
	display: flex;
}
.footer__icons a:not(:last-child){
	margin-right: 10px;
}
.footer__icons svg{
	width: 18px;
	height: 18px;
	fill: #fff;
	&:hover{
		fill: #FFF500;
	}
}

//!---------------Popup-----------------------------------
.popup{
	position: fixed; top: 0; left: 0;
	z-index: 5;
	width: 100vw;
	height: 100vh;
	background-color: rgba($color: #000000, $alpha: 0.8);
	overflow-y: auto;
	overflow-x: hidden;
	transition: .5s;

	opacity: 0;
	visibility: hidden;
} 

.popup.open{
	opacity: 1;
	visibility: visible;
}

.popup__body{
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 100%;
} 

 .popup__content{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 40%;
	max-width: 600px;
	background-color: #fff;
	border-radius: 15px;
	padding: 45px 25px 40px 25px;

	opacity: 0;
	transform: translate(0px, -100%) perspective(600px) rotateX(45deg);
	transition: .5s;

	&:before{
		content: '';
		position: absolute; top: 90px; left: 0;
		z-index: 6;
		display: block;
		width: 100%;
		height: 1px;
		background-color: #C9C9C9;
	}
}

.popup.open .popup__content{
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px) perspective(600px) rotateX(0deg);
}

.popup__close {
	position: absolute; top: 10px; right: 10px;
}
.popup__close span{
	position: relative;
	display: block;
	height: 20px;
	width: 25px;

	&::before,
	&::after{
		content: '';
		position: absolute; left: 0; top: 50%;
		display: block;
		width: 100%;
		height: 2px;
		background-color: #333;
	};
	&::before{
		transform: rotate(45deg);
	}
	&::after{
		transform: rotate(-45deg);
	}
}
.popup__close:hover{
	transform: scale(1.1,1.1);
}


.popup__title {
	font-size: 20px;
	font-weight: 700;
	line-height: 120%;
	letter-spacing: 0.05em;
	text-align: center;
	color: #333 ;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.popup__form {
		width: 100%;
		display: flex;
		flex-direction: column;
}
.popup__form input{
	display: block;
	width: 100%;
	height: 40px;
	border-radius: 15px;
	padding: 0px 15px;
	margin-bottom: 30px;

	font-size: 14px;
	letter-spacing: 0.1em;
}

.popup__form input:nth-child(1){
	background-color: #F0F0F0;
}
.popup__form input:nth-child(2){
	background-color: #E0E0E0;
}

.popup__form-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.popup__checkbox{
	position: relative;
	padding-left: 40px;

	white-space: nowrap;
	font-weight: 400;
	letter-spacing: 0.05em;
	text-align: left;
	color: #333 ;
}
.popup__checkbox input{
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

.popup__checkbox p::before{
	content: '';
	position: absolute; top: -3px; left: 5px;
	z-index: 3;
	display: block;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	background-color: #E0E0E0;
	border: 1px solid #C9C9C9;
}
.popup__checkbox p::after{
	content: '';
	position: absolute; top: 1px; left: 12px;
	z-index: 10;
	display: inline-block;
	width: 5px;
	height: 10px;
	border-bottom: 3px solid #fff;
	border-right: 3px solid #fff;
	transform: rotate(45deg);

	opacity: 0;
}

.popup__checkbox input:checked+p::before{
	background-color: #FF4C00;
}
.popup__checkbox input:checked+p::after{
	opacity: 1
}

.popup__form-button button{
	background-color: #FF4C00;
	padding: 12px 40px;
	border-radius: 18px;
	transition: .4s;

	font-size: 14px;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: 0.05em;
	color: #fff;
	text-transform: uppercase;

	&:hover{
		background-color: #2F2F2F;
	}
}




















@import 'media.scss';